.search-input{
    border:none;
    padding:10px 10px 10px 30px;
    width: 100%;
    border-radius: 30px;
    outline: none;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.custom-input{
    outline: none;
    border:none;
    border-bottom: 1px solid lightgray;
    margin-bottom: 15px;
}

